WebApplication2/web/WEB-INF/wsdl/localhost_8082/Marketplace_Service/Market.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Market/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Market/" name="Market">
<types>
<xsd:schema>
<xsd:import namespace="http://Market/" schemaLocation="http://localhost:8082/Marketplace_Service/Market?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="unlikeProduct">
<part name="parameters" element="tns:unlikeProduct"/>
</message>
<message name="unlikeProductResponse">
<part name="parameters" element="tns:unlikeProductResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="likeProduct">
<part name="parameters" element="tns:likeProduct"/>
</message>
<message name="likeProductResponse">
<part name="parameters" element="tns:likeProductResponse"/>
</message>
<message name="confirmationPurchase">
<part name="parameters" element="tns:confirmationPurchase"/>
</message>
<message name="confirmationPurchaseResponse">
<part name="parameters" element="tns:confirmationPurchaseResponse"/>
</message>
<message name="getNamaBarang">
<part name="parameters" element="tns:getNamaBarang"/>
</message>
<message name="getNamaBarangResponse">
<part name="parameters" element="tns:getNamaBarangResponse"/>
</message>
<message name="checkLike">
<part name="parameters" element="tns:checkLike"/>
</message>
<message name="checkLikeResponse">
<part name="parameters" element="tns:checkLikeResponse"/>
</message>
<message name="listCatalog">
<part name="parameters" element="tns:listCatalog"/>
</message>
<message name="listCatalogResponse">
<part name="parameters" element="tns:listCatalogResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sales">
<part name="parameters" element="tns:sales"/>
</message>
<message name="salesResponse">
<part name="parameters" element="tns:salesResponse"/>
</message>
<message name="purchase">
<part name="parameters" element="tns:purchase"/>
</message>
<message name="purchaseResponse">
<part name="parameters" element="tns:purchaseResponse"/>
</message>
<message name="yourproduct">
<part name="parameters" element="tns:yourproduct"/>
</message>
<message name="yourproductResponse">
<part name="parameters" element="tns:yourproductResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<portType name="Market">
<operation name="delete">
<input wsam:Action="http://Market/Market/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://Market/Market/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="unlikeProduct">
<input wsam:Action="http://Market/Market/unlikeProductRequest" message="tns:unlikeProduct"/>
<output wsam:Action="http://Market/Market/unlikeProductResponse" message="tns:unlikeProductResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Market/Market/unlikeProduct/Fault/Exception"/>
</operation>
<operation name="likeProduct">
<input wsam:Action="http://Market/Market/likeProductRequest" message="tns:likeProduct"/>
<output wsam:Action="http://Market/Market/likeProductResponse" message="tns:likeProductResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Market/Market/likeProduct/Fault/Exception"/>
</operation>
<operation name="confirmationPurchase">
<input wsam:Action="http://Market/Market/confirmationPurchaseRequest" message="tns:confirmationPurchase"/>
<output wsam:Action="http://Market/Market/confirmationPurchaseResponse" message="tns:confirmationPurchaseResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Market/Market/confirmationPurchase/Fault/Exception"/>
</operation>
<operation name="getNamaBarang">
<input wsam:Action="http://Market/Market/getNamaBarangRequest" message="tns:getNamaBarang"/>
<output wsam:Action="http://Market/Market/getNamaBarangResponse" message="tns:getNamaBarangResponse"/>
</operation>
<operation name="checkLike">
<input wsam:Action="http://Market/Market/checkLikeRequest" message="tns:checkLike"/>
<output wsam:Action="http://Market/Market/checkLikeResponse" message="tns:checkLikeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Market/Market/checkLike/Fault/Exception"/>
</operation>
<operation name="listCatalog">
<input wsam:Action="http://Market/Market/listCatalogRequest" message="tns:listCatalog"/>
<output wsam:Action="http://Market/Market/listCatalogResponse" message="tns:listCatalogResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://Market/Market/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://Market/Market/addProductResponse" message="tns:addProductResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Market/Market/addProduct/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Market/Market/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Market/Market/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sales">
<input wsam:Action="http://Market/Market/salesRequest" message="tns:sales"/>
<output wsam:Action="http://Market/Market/salesResponse" message="tns:salesResponse"/>
</operation>
<operation name="purchase">
<input wsam:Action="http://Market/Market/purchaseRequest" message="tns:purchase"/>
<output wsam:Action="http://Market/Market/purchaseResponse" message="tns:purchaseResponse"/>
</operation>
<operation name="yourproduct">
<input wsam:Action="http://Market/Market/yourproductRequest" message="tns:yourproduct"/>
<output wsam:Action="http://Market/Market/yourproductResponse" message="tns:yourproductResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://Market/Market/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://Market/Market/editProductResponse" message="tns:editProductResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Market/Market/editProduct/Fault/Exception"/>
</operation>
</portType>
<binding name="MarketPortBinding" type="tns:Market">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unlikeProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="likeProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="confirmationPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getNamaBarang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listCatalog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="purchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="yourproduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Market">
<port name="MarketPort" binding="tns:MarketPortBinding">
<soap:address location="http://localhost:8082/Marketplace_Service/Market"/>
</port>
</service>
</definitions>